

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

body {
    margin-top: 50px;
    background-color: rgba(237, 236, 236, 0.834);
    font-family: 'Tsukimi Rounded', sans-serif;
}

.container {
    justify-content: center;
    max-width: fit-content;
}

h1 {
    text-align: center;
    color: rgb(221, 131, 131);
    font-weight: lighter;
}

.task-input {
    font-size: 2rem;
    padding: 10px 20px;
    border: 1px solid rgb(208, 202, 202);
    box-shadow: 0px 0px 20px rgb(164, 161, 161);
}

input {
    font-weight: 100;
    background-color: rgb(243, 245, 247);
    color: rgb(71, 73, 74);
    outline: none;
    border: none;
    width: 600px;
    height: 50px;
}

ul {
    font-weight: 100;
    padding: 0px;
    margin-top: 5px;
    
    
}

ul li{
    background-color: rgb(243, 245, 247);
    margin-top: 5px;
    padding: 5px;
    color: rgb(71, 73, 74);
    width: 600px;
    height: 50px;
    border: 1px rgb(237, 227, 227);
    list-style-type: none
}

.btn {
    position: relative;
    border: none;
    color: #FFFFFF;
    width: 3rem;
    height: 3rem;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    float: right;

}

.btn:hover{
    transform: scale(1.2);
    transition: transform 0.2s ease-in-out;
   
}

.items {
    font-size: small;
    margin-top: 5px;
    padding: 2px;
    color: rgb(129, 132, 134);
    background-color: rgb(243, 245, 247);
}











